:root {
    --white: #ffffff;
    --black: #000000;
    /* CORES GENIUS */
    --red: #ff0000;
    --blue: #0000ff;
    --yellow: #ffff00;
    --green: #008000;
}

body {
    background-color: var(--black);
}


/* NAVBAR */

nav {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.saibaClass {
    display: none;
}

.saibaClass .apresentaJogo {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    border: 3px solid var(--white);
    flex-wrap: wrap;
}

.saibaClass .apresentaJogo .textoSobre {
    font-size: 25px;
    color: var(--white);
    text-align: center;
}

nav p .btnSaiba {
    color: var(--black);
    background: var(--white);
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}


/* MAIN CONTAINER */

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
}

.mainContainer .genius {
    display: grid;
    grid-template-areas: 'vermelho azul' 'amarelo verde';
    /*O espaço no meio cria as grades, torando cada bloco com seu espaço determinado*/
    grid-gap: 15px;
    border: 2px solid var(--black);
    background: var(--white);
    border-radius: 100%;
    width: 650px;
    height: 650px;
}

.mainContainer .genius .vermelho {
    grid-area: vermelho;
    background: var(--red);
    border-radius: 100% 0% 0% 0%;
    cursor: pointer;
}

.mainContainer .genius .azul {
    grid-area: azul;
    background: var(--blue);
    border-radius: 0% 100% 0% 0%;
    cursor: pointer;
}

.mainContainer .genius .amarelo {
    grid-area: amarelo;
    background: var(--yellow);
    border-radius: 0% 0% 0% 100%;
    cursor: pointer;
}

.mainContainer .genius .verde {
    grid-area: verde;
    background: var(--green);
    border-radius: 0% 0% 100% 0%;
    cursor: pointer;
}


/* JAVASCRIPT */

.selecionado {
    opacity: .3;
}


/* FOOTER */

footer {
    width: 100%;
    height: 50px;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .textoFooter {
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
}